<div class="row">
  <div class="col-8">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Strasse</th>
        <th>Stadt</th>
        <th>Land</th>
        <th>E-Mail</th>
        <th>Geschlecht</th>
      </tr>
      </thead>
      <tbody *ngFor="let visitor of visitors">
      <tr (click)="selectVisitor(visitor)">
        <td>{{visitor.firstName}}</td>
        <td>{{visitor.lastName}}</td>
        <td>{{visitor.street}}</td>
        <td>{{visitor.city}}</td>
        <td>{{visitor.country}}</td>
        <td>{{visitor.email}}</td>
        <td>{{visitor.gender}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <visitor [visitor]="selectedVisitor" (c)="onVisitorChanged($event)" (visitorDeleted)="onVisitorDeleted($event)"></visitor>
  </div>
</div>
